.foldable-panel {
    border: 1px solid;
    margin-bottom: 1.2em;
}

.foldable-panel > h3 {
    height: 40px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    margin: 0;
    background-color: #F1F1F1;
    color: #777777;
    font-weight: 600;
}

.foldable-panel > .foldable-panel-body {
    border-top: 1px solid;
    padding: 1em;
}

@media (max-width: 620px) {
    .foldable-panel > .foldable-panel-body {
        padding: 0.5em;
    }
}

.foldable-panel.top {
    margin-top: 15px;
}
